/* Main div */

.home {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding-left: 30%;
  margin-top: 5%;
  padding-bottom: 7%
}

/* Main header text */

.header-text {
  width: 60%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  text-align: center;
  border: rgb(161, 185, 190) 1px solid;
  margin-left: 4%;
}

h1 {
  font-family: "Bungee", cursive;
  color: rgb(161, 185, 190);
}

h3 {
  color: rgb(161, 185, 190);
  margin-top: 5%;
  padding: 2%;
}

h6 {
  color: rgb(161, 185, 190);
}

/* Main profile image */
.profile-pic {
  border: rgb(161, 185, 190) 2px solid;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 23%;
  margin-top: 2%;
}

.footer {
  border: solid green 4px;
}
