#navbar2 {
  top: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  height: 100%;
  width: 20%;
  border: solid rgb(161, 185, 190) 2px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99));
  text-align: center;
  padding-bottom: 0

}

#navbar2 img{
  cursor: pointer;
}

#nav-list-ul2 {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#nav-list-ul2 li {
  width: 100%;
  height: auto;
  margin-left: -14%;
  color: rgb(161, 185, 190);
 
}

#nav-list-ul2 li h4 {
  cursor: pointer;
  text-transform: capitalize;
}

#nav-list-ul2 li h4:hover {
  color: white;
  text-decoration: underline;
}

#nav-list-ul2 li h6 {
  cursor: pointer;
}

#nav-list-ul2 li h6:hover {
  color: white;
  text-decoration: underline;
}

.contact{
  border-top: rgb(161, 185, 190) solid 2px;
  width: 100%;
  height: auto;
   background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
  margin-top: 30%;
     color: white;
  
}

.info{
  display: flex;
  justify-content: flex-start;

  width: 100%;

}

.info ion-icon{
  margin-top: 7%;
  margin-right: 5%;
  margin-left: 10%;
  font-size: 23px;
}

.git-logo ion-icon{
color: rgb(154, 182, 161);
 
  font-size: 35px
}

.git-logo ion-icon:hover{
color: white;
 
 
}





