#navbar2 {
  top: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  height: 100%;
  width: 20%;
  border: solid rgb(161, 185, 190) 2px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  text-align: center;
  z-index: +1;
}

#nav-list-ul2 {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#nav-list-ul2 li {
  width: 100%;
  height: auto;
  margin-left: -14%;
  color: rgb(161, 185, 190);
  text-transform: capitalize;
}

#nav-list-ul2 li h4 {
  cursor: pointer;
}

#nav-list-ul2 li h4:hover {
  color: white;
  text-decoration: underline;
}

#nav-list-ul2 li h6 {
  cursor: pointer;
}

#nav-list-ul2 li h6:hover {
  color: white;
  text-decoration: underline;
}
