.home2 {
  height: 100%;
  width: auto;
  margin-top: -1%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 6%;
}

.home2 h2 {
  border: solid rgb(161, 185, 190) 2px;
  width: 30%;
  margin-left: 25%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: rgb(161, 185, 190);
  text-transform: uppercase;
}

#who-i-am-img {
  width: 200px;
  border: solid rgb(161, 185, 190) 2px;
  margin-left: 30%;
}

#who-i-am-info {
  border: solid rgb(161, 185, 190) 2px;
  width: 80%;
  margin-left: 2%;
  margin-top: 3%;
  padding: 2%;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: rgb(161, 185, 190);
}
