#contact {
  width: 400px;
  height: auto;
  margin-left: 80%;
  margin-top: 10%;
}

#contact h2 {
  width: 60%;
  margin-left: 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  color: rgb(161, 185, 190);
  border: solid 2px rgb(161, 185, 190);
  padding-top: 0.5%;
}

#contact-section {
  display: flex;
  flex-direction: column;
}

#contact-section article {
  margin-top: 15%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  color: rgb(161, 185, 190);
  border: solid 2px rgb(161, 185, 190);
  padding: 1%;
}

#contact-section article:hover {
  color: white;
  border: solid 2px white;
}

#contact-section article ion-icon {
  font-size: 30px;
}
