footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  height: 6%;
  position: fixed;
  padding-bottom: 3%;
  z-index: +1;
}

#footer-ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#footer-ul li {
  display: flex;
  justify-content: flex-start;

  color: rgb(224, 224, 224);
  width: 25%;
  height: 100%;
  margin-left: 18%;
}

#footer-ul li p {
  margin-right: 2%;
}

#footer-ul li ion-icon {
  font-size: 30px;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}
