.elastic-beanstalk-home {
  width: 80%;
  margin-left: 20%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 6%
}

.elastic-beanstalk-home h2 {
  border: solid rgb(161, 185, 190) 2px;
  color: rgb(161, 185, 190);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  width: 30%;
  margin-left: 35%;
  text-transform: uppercase;
}

.elastic-beanstalk-home h2:hover {
  border: solid white 2px;
  color: white;
}

.elastic-beanstalk-content {
  border: solid rgb(161, 185, 190) 2px;
  color: rgb(161, 185, 190);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  overflow-x: hidden;
  margin-top: 10%;
  width: 75%;
  margin-left: 12.5%;
  height: 500px;
  padding: 2%;
}

.elastic-beanstalk-content:hover {
  border: solid white 2px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}
